/* Navbar
    ===============================================  */
nav.upper-navbar{
    border-bottom:solid 1px #e6e6e6;
    background-color:#FFF;
    height:75px; 
}
nav.upper-navbar:before,
nav.upper-navbar:after{
    content: '';
    display:block; 
}
nav.upper-navbar:after{
    clear: both;
}


nav.upper-navbar .container{
    max-width:930px;
    margin:0 auto; 
}


/* logo side */
nav.upper-navbar .search-form{
    margin:0 auto;
    width: 215px;
    padding-top:25px;
    display:inline-block;
    position: relative; 
    left: 25%;
}
nav.upper-navbar .search-form form{}

nav.upper-navbar .search-form form span{
    background-color:#fafafa;
    border:solid 1px #dbdbdb;
    border-right:none; 
    display: inline-block;
    width:10%;
    position: relative;
    right: -4px;
    top: -1px;
    border-top-left-radius:4px; 
    border-bottom-left-radius:4px;
}
nav.upper-navbar .search-form form span i{
    font-size:10px;
    padding:8.5px 5px;
    color:#a5a7aa; 
}

nav.upper-navbar .search-form form input[type="text"]{
    background-color:#fafafa;
    border:solid 1px #dbdbdb;
    border-radius:4px;
    border-top-left-radius:0px; 
    border-bottom-left-radius:0px;
    border-left:none; 
    height:25px;
    padding-left:10px;    
    width:80%; 
    display: inline-block;
    outline: none;
}



/* search bar */
nav.upper-navbar .left-logo{
    float:left;
    width:130px;
    position: relative;
    top:20px; 
}
nav.upper-navbar .left-logo:before,
nav.upper-navbar .left-logo::after{
    content:'';
    display:block;  
}
nav.upper-navbar .left-logo::after{
    clear: both;
}


nav.upper-navbar .left-logo img{
    max-width:35px;
    float: left;
}
nav.upper-navbar .left-logo span.logo-separator{
    display: inline-block;
    width:1px;
    height: 30px;
    background-color:#939393;
    position: relative;
    left: 10px;
}

nav.upper-navbar .left-logo h4{
    float: right;
    position: relative;
    right: -15px;
    top: 5px;
    font-size:20px; 
}


/* buttons side */
nav.upper-navbar .right-buttons{
    float:right;
    position: relative;
    top: 25px;
}

nav.upper-navbar .right-buttons button{
    border:none; 
}

nav.upper-navbar .right-buttons button#login{
    background-color:#3897f0; 
    color:#FFFFFF;
    padding:7px 14px;
    text-align: center;
    border-radius:4px;  
}

nav.upper-navbar .right-buttons button#sign-up{
    color:#3897f0;
    background-color:transparent;
    font-size:15px;
    font-weight:bold;   
}


/* Profile Information Info
    ============================  */
section.profile_info{
    margin-top:60px; 
}
section.profile_info:before,
section.profile_info:after{
    content:'';
    display: block; 
}
section.profile_info:after{
    clear: both;
}

/* container */
section.profile_info .container{
    max-width: 930px;
    margin:0 auto; 
}



/* Image Side
    ===================  */
section.profile_info .image_side{
    float: left;
    width: 25%;
    text-align:center; 
}
section.profile_info .image_side img{
    max-width:153px;
    border-radius:50%; 
}




/* info Side
    ===================  */
section.profile_info .info_side{
    float: right;
    width: 75%;
    padding-top:15px; 
}


/* Upper */
section.profile_info .info_side .upper{
    padding-left:50px; 
     
}

section.profile_info .info_side .upper #profile-name{
    font-size:28px;
    color:#262626;
    font-weight: lighter;
    display: inline-block;
}
section.profile_info .info_side .upper #verified-sign{
    display: inline-block;
    width:20px; 
    height:20px;
    border-radius:50%;
    color:#FFF;
    background-color:#3897f0;
    text-align:center;
    margin-left:20px; 
    margin-right:20px; 
}
section.profile_info .info_side .upper #verified-sign{
    font-size:10px;
    line-height:20px;
    position: relative;
    top:-5px; 
}
section.profile_info .info_side .upper #follow-btn{
    display: inline-block;
    background-color:#3897f0;
    color:#FFF;
    border:none;
    padding:5px 17px;
    text-align:center;
    border-radius:3px;
    font-size:14px; 
    position: relative;
    top:-5px; 
}


/* numbers */
section.profile_info .info_side .numbers{
     margin-top:20px; 
     margin-bottom:25px; 
     padding-left:50px; 
}
section.profile_info .info_side .numbers strong{
    font-weight:bolder;
    font-size:16px;  
}


section.profile_info .info_side .numbers span{
    font-size:16px;
    margin-right:20px; 
}
section.profile_info .info_side .numbers #posts{}
section.profile_info .info_side .numbers #followers{}
section.profile_info .info_side .numbers #following{}


/* description */
section.profile_info .info_side .description{
    padding-left:50px; 
}



/* Main Section
    Posts Wrapper
    ====================================================================== */
.posts_wrapper{
    max-width:935px;
    margin:0 auto; 
    margin-top:50px;
    margin-bottom:60px; 
}

.posts_wrapper_container{
    position: relative;
    width:100%; 
}

.posts_wrapper_container:before,
.posts_wrapper_container:after{
    content:'';
    display:block;  
}
.posts_wrapper_container:after{
    clear: both;
}




/* Single Post */
.posts_wrapper_container .single_post{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.posts_wrapper_container .single_post .thumbnail_image{
    position: relative;
    width:100%;
    height:100%; 
}

.posts_wrapper_container .single_post .overlay_container{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;   
    height:100%;
    background-color:rgba(000, 000, 000, 0.3);
    text-align:center;
    display:none; 
}
.posts_wrapper_container .single_post .overlay_container p{
    color:#FFF;
    font-size:18px;
    line-height:300px; 
}
.posts_wrapper_container .single_post .overlay_container p span:first-child{
    margin-right:35px; 
}

.posts_wrapper_container .single_post:hover > .overlay_container{
    display:block; 
}












/** ========================================================================
    Media Queries
    ======================================================================== **/





/** =================================================
    320px and larger
    ================================================= **/
    @media only screen and (min-width : 320px) {
        
        .posts_wrapper_container{
            width:80%;
            margin:0 auto;   
        }

        /* single post */
        .posts_wrapper_container .single_post{
            float: none;
            width:100%;
            height:290px;
            margin-bottom:26px;
            margin-right:0px;
        }
        
        
    }
    
    
    
    
/** =================================================
    480px and larger
    ================================================= **/
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        
        
        .posts_wrapper_container{
            width:95%;
            margin:0 auto;
            margin-left:5%; 
        }

        /* single post */
        .posts_wrapper_container .single_post{
            float: left;
            width:45%;
            height:290px;
            margin-right:25px;
        }
        
        
    }
    
    
    
    
    
/** =================================================
    768px and larger
    ================================================= **/
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
        
     /* single post */
    .posts_wrapper_container .single_post{
        float: left;
        width:31%;
        height:290px;
        margin-bottom:26px;
        margin-right:20px;
    }

        

        
        

}
    
    
    
    
/** =================================================
    992px and larger
    ================================================= **/
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
        
        
    
    
}
    
    
    
    
    
    
    
    
/** =================================================
    1200px and larger
    ================================================= **/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
    
    
    
    
    
}